/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.padrao{
  color: #176EAC !important;
}
.padrao-fundo{
    background-color: #176EAC!important;
}
.padrao2{
  color: #f1f1f1;
}
.padrao2-fundo{
  background-color:#f1f1f1;
}
.logo-nav{
  width: 75px;
  margin-left: 50px;
  margin-top: 10px;
}
.logo-centro{
  margin-top:160px;
  margin-bottom: 190px;
}

.nav-telefone{
  background-color:gray !important;
  width: 100% !important;
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
}

.justificado{
  text-align: justify;
}
.caixa{
    border: 2px solid gray;
    padding: 5px;
    border-top-right-radius: 25px;
    border-left: 10px;

}
.descer:hover{
    transition:all 0.3s ease;
}
.r_image{
  margin-left: 50px; 
}